//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------
//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: #ccc;
	border: none;
	border-radius: 0;
	border-width: 0;
	color: #000;
	line-height: 1.2;
	margin: 0;
	padding: 15px;

	&:hover {
		background-color: #ddd;
	} // &:hover

	&:active,
	&:focus {
		background-color: #ddd;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]
