//--------------------------------------------------------------
// Container
//--------------------------------------------------------------
.container {
	padding: 0 15px;
	margin: 0 auto;
}

.container__flex--space-between {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

@each $container-width in $container-widths {
	.container--#{$container-width} {
		max-width: #{$container-width}px;
	}
}