//--------------------------------------------------------------
// Rows
//--------------------------------------------------------------
.row {
	margin: 0 auto;
}

.row__flex--space-between {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

@each $row-width in $row-widths {
	.row-#{$row-width} {
		width: #{$row-width}px;
	}
}