//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------
$color-goldenrod: dodgerblue;

//--------------------------------------------------------------
// Fonts
//--------------------------------------------------------------
$font-main: 'Open Sans', sans-serif;

//--------------------------------------------------------------
// Container Widths
//--------------------------------------------------------------
$container-widths: (
	1180,
	960
);