//--------------------------------------------------------------
// User Menu
//--------------------------------------------------------------
.menu__user {
	display: flex;

	.menu__item {
		margin-right: 15px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}